<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="login.component.css">
</head>

<body>
    <h1 class="text-center mb-5">Help Cook</h1>
    <form class="p-4 mx-auto rounded" style="width: 400px;">
        <div class="form-group">
            <label class="d-block mb-2" for="InputEmail1">Correo electrónico: </label>
            <input type="email" class="form-control w-100 p-2 mb-4 rounded" name="email" id="InputEmail1"
                placeholder="Correo electrónico">
        </div>
        <div class="form-group">
            <label class="d-block mb-2" for="InputPassword1">Contraseña: </label>
            <input type="password" class="form-control w-100 p-2 mb-4 rounded" name="password" id="InputPassword1"
                placeholder="Contraseña">
        </div>
        <button type="submit" class="btn btn-primary d-flex justify-content-center text-center mt-4 mb-4 p-2" style="width: 45%">Iniciar sesión</button>
        <p class="p-texto mt-5 text-center">Si aún no tienes una cuenta puedes</p>
        <p class="p-link mt-0 text-center fw-bold"><a class="link-registro" href="/registro">registrarte aquí</a></p>
    </form>
</body>
</html>